<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" href="css/supersized.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/shutter.css" type="text/css" media="screen" />
		<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.min.js"></script>
		<script type="text/javascript" src="js/supersized.3.2.7.min.js"></script>
		<script type="text/javascript" src="js/shutter.min.js"></script>
		<script type="text/javascript" src="js/application.js"></script>
	</head>
<body>
	<div id="prevthumb"></div>
	<div id="nextthumb"></div>
	<a id="prevslide" class="load-item"></a>
	<a id="nextslide" class="load-item"></a>
	<div id="thumb-tray" class="load-item">
		<div id="thumb-back"></div>
		<div id="thumb-forward"></div>
	</div>
	<div id="progress-back" class="load-item">
		<div id="progress-bar"></div>
	</div>
	<div id="controls-wrapper" class="load-item">
		<div id="controls">
			<div id="slidecounter">
				<span class="slidenumber"></span> / <span class="totalslides"></span>
			</div>
			<div id="slidecaption"></div>
			<ul id="slide-list"></ul>
		</div>
	</div>
</body>
</html>
