{ "slides": [
  {"image": "assets/active/cookie-monster.gif",   "title": "C is for cookie"},
  {"image": "assets/active/cookie-monster.gif",   "title": "C is for cookie"},
  {"image": "assets/active/cookie-monster.gif",   "title": "C is for cookie"},
  ]
}
